@import "tailwindcss";
@import "../index.css";

/* Old button */
.btn-blue{
  @apply px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg shadow-md
}


:root {
  --hexagon-height: 60px;
}

.hex-button-container {
  filter: drop-shadow(4px 6px 1.5px black);
  transition: transform 0.2s ease-in, filter 0.2s ease-in;
}

.hex-button-container:hover {
  transform: translate(-2px, -2.2px);
  filter: drop-shadow(8px 12px 2px black);
}

.hex-button-wrapper {
  display: inline-block;
  position: relative;
  height: var(--hexagon-height);
  padding: 0 2rem; /* horizontal padding controls width based on text */
  background: linear-gradient(90deg, var(--color-primary), var(--color-primary-alt));
  border-radius: calc(var(--hexagon-height) / 10);
  text-align: center;
  color: white;

  line-height: var(--hexagon-height);
  cursor: pointer;
  clip-path: polygon(
    10% 0%, 90% 0%,
    100% 50%, 90% 100%,
    10% 100%, 0% 50%
  );
  z-index: 1;

  transition: transform 0.2s ease-in, filter 0.2s ease-in;


}

.hex-button-wrapper:hover {
  background: linear-gradient(90deg, var(--color-tertiary), var(--color-tertiary-alt));
  color: black;

}

.hex-button-wrapper::before,
.hex-button-wrapper::after {
  
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: inherit;
  border-radius: inherit;
  clip-path: inherit;
  z-index: -1;
}

.hex-button-wrapper::before {
  transform: rotate(60deg);
}

.hex-button-wrapper::after {
  transform: rotate(-60deg);
}
