.hex-grid {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -0%); /* X and Y center */
  display: flex;
  flex-direction: column;
  z-index: 0;
  width: max-content; /* allow natural overflow */
  pointer-events: none;
  z-index: 0;
}

.hex-row {
  display: flex;
  gap: 25px;
  margin-top: -25px;
}

.hex-row-offset {
  margin-left: 40px; /* stagger the row */
}

.hexagon {
  width: 55px;
  height: 48px;
  /* background: var(--color-primary-alt); */
  opacity: 0.8;
  clip-path: polygon(
    25% 0%, 75% 0%,
    100% 50%,
    75% 100%, 25% 100%,
    0% 50%
  );
}

