.hex-grid {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -0%); /* X and Y center */
  display: flex;
  flex-direction: column;
  z-index: 0;
  width: max-content; /* allow natural overflow */
  pointer-events: none;
  z-index: 0;
}

.hex-row {
  display: flex;
  gap: 19px;
  margin-top: -18.5px;
}

.hex-row-offset {
  margin-left: 30px; /* half width + half gap */
}

.hexagon {
  width: 41px;
  height: 36px;
  clip-path: polygon(
    25% 0%, 75% 0%,
    100% 50%,
    75% 100%, 25% 100%,
    0% 50%
  );
}
