.hex-badge {
  position: relative;
  margin: 1.5em 3em;
  width: 4em;
  height: 6.2em;
  border-radius: 10px;
  display: inline-block;
  top: 0;
  transition: all 0.2s ease;
}

.hex-badge::before,
.hex-badge::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.hex-badge::before {
  transform: rotate(60deg);
}

.hex-badge::after {
  transform: rotate(-60deg);
}

.hex-badge:hover {
  top: -4px;
}

.hex-badge .circle {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 10;
  border-radius: 0%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.hex-badge .ribbon {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 5px 3px;
  border-radius: 4px;
  width: 100px;
  height: 20px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: linear-gradient(to bottom right, #555 0%, #333 100%);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
  z-index: 11;
}

/* Color themes */
.hex-badge.yellow {
  background: linear-gradient(to bottom right, #ffeb3b 0%, #fbc02d 100%);
  color: #ffb300;
}

.hex-badge.orange {
  background: linear-gradient(to bottom right, #ffc107 0%, #f57c00 100%);
}

.hex-badge.pink {
  background: linear-gradient(to bottom right, #f48fb1 0%, #d81b60 100%);
}

.hex-badge.red {
  background: linear-gradient(to bottom right, #f4511e 0%, #b71c1c 100%);
}

.hex-badge.purple {
  background: linear-gradient(to bottom right, #ab47bc 0%, #4527a0 100%);
}

.hex-badge.teal {
  background: linear-gradient(to bottom right, #4db6ac 0%, #00796b 100%);
}

.hex-badge.blue {
  background: linear-gradient(to bottom right, #4fc3f7 0%, #2196f3 100%);
}

.hex-badge.blue-dark {
  background: linear-gradient(to bottom right, #1976d2 0%, #283593 100%);
}

.hex-badge.green {
  background: linear-gradient(to bottom right, #cddc39 0%, #8bc34a 100%);
}

.hex-badge.green-dark {
  background: linear-gradient(to bottom right, #4caf50 0%, #1b5e20 100%);
}

.hex-badge.silver {
  background: linear-gradient(to bottom right, #e0e0e0 0%, #bdbdbd 100%);
}

.hex-badge.gold {
  background: linear-gradient(to bottom right, #e6ce6a 0%, #b7892b 100%);
}
