/* 
 * Filename: layout.css
 * Author: Chace Nielson
 * Created: March 23rd
 * Updated: March 23rd
 * 
 * Description:
 * This stylesheet contains the layout rules for the website. It includes
 * definitions for the page width, background colors, and other common layout
 * styles used by router pages and Section component 
 */
@import "tailwindcss";
@import "../index.css";


.page-width {
  @apply px-2.5 xl:px-14 2xl:px-20;
}

/* background for pages */
.outlet-background {
  @apply bg-gradient-to-b from-gray-100 to-gray-400;
}

.home-section{
  @apply container mx-auto p-6 2xl:px-20 h-full w-full relative; 
  /* relative is required to be in front of the HexSeparator */
}

/* Specific Partners can havethis to ve more visible */
.partner-shadow {
  /* filter: drop-shadow(0.8px 0px 0px black); */
  @apply mix-blend-difference;
  
}

/* For the award on hero to make it more visible  */
.award-shadow {
  filter: drop-shadow(1px 1px 1px black);  
}

.large-shadow {
  filter: drop-shadow(4px 6px 2px black);  
}

.large-shadow-hover:hover {
  filter: drop-shadow(8px 12px 2px black);
}

.small-shadow {
  filter: drop-shadow(2px 2px 1px black);  
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards;
  animation-delay: 0.5s;
}







