@import "tailwindcss";


.outlet-background {
  @apply bg-gradient-to-b from-gray-100 to-gray-400;
}

.section{
  @apply container mx-auto p-4 h-full w-full;
}


.drop-shadow {
  filter: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.5));
}

/* Custom Animation for Pulsing Dots */
@keyframes dotAnimation {
  0% {
    content: ".";
  }
  25% {
    content: "..";
  }
  50% {
    content: "...";
  }
  75% {
    content: "....";
  }
  100% {
    content: ".";
  }
}

/* Apply animation to the dots */
.loading-text .dots::after {
  content: ".";
  animation: dotAnimation 1.5s infinite steps(1, end);
}

.btn-blue{
  @apply px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-semibold rounded-lg shadow-md
}



.partner-banner{
  @apply fixed 
  border-t-2 border-l-0 md:border-l-2 border-black 
  z-30 
  lg:right-0 lg:top-0 lg:w-56 
  lg:h-full lg:overflow-auto lg:shadow-md lg:p-4 
  bottom-0 w-full text-center p-2 shadow-md  bg-gray-300;
}

.partner-list {
  @apply flex items-center lg:flex-col space-y-0 lg:space-y-4 space-x-4 lg:space-x-0 overflow-x-auto lg:overflow-visible;
  scroll-snap-type: x mandatory;
}

/* Ensure smooth horizontal scrolling */
.partner-list::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit browsers */
}

.partner-banner > ul{
  @apply space-y-4 p-2 flex lg:flex-col flex-row justify-center items-center lg:space-y-4 space-x-2 overflow-auto;
}
.partner-banner > ul > li{
  @apply flex justify-center ;
}
.partner-banner > ul > li > img{
  @apply lg:w-full lg:h-24 h-20 object-contain;
}