/* 
 * Filename: splashScreen.css
 * Author: Chace Nielson
 * Created: March 23rd
 * Updated: March 23rd
 * 
 * Description:
 * This stylesheet contains the styles and layout rules for the splash screen
 * Mainly vanilla CSS with a few Tailwind classes for layout and spacing
 */
@import "tailwindcss";
@import "../index.css";
 
 
/* Hex Shape */
.hex {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.20rem;
  background-color: #2daeb5; /* default color */
  clip-path: polygon(
    25% 6.7%, 75% 6.7%,
    100% 50%, 75% 93.3%,
    25% 93.3%, 0% 50%
  );
  animation: hexPulse 1s infinite ease-in-out;
}

/* Multi-colored hexes */
.hex1 { background-color: var(--color-primary-alt); animation-delay: 0s; }     /* Blue */
.hex2 { background-color: var(--color-accent-alt); animation-delay: 0.2s; }     /* Blue */
.hex3 { background-color: var(--color-tertiary-alt); animation-delay: 0.4s; }     /* Blue */
.hex4 { background-color: var(--color-accent); animation-delay: 0.6s; }     /* Blue */


/* Pulse Animation */
@keyframes hexPulse {
  0%, 100% { transform: scale(1); opacity: 0.6; }
  50% { transform: scale(1.3); opacity: 1; }
}
