@import "tailwindcss";
/* No dark mode - constant color scheme */



/* Tailwind 4 https://tailwindcss.com/blog/tailwindcss-v4*/

/**
New in tailwind 4

Color rendering functions
  color-mix() -> mix two colors
  @property -> By default, CSS does not animate colors defined as CSS variables. The @property rule fixes this by making them animatable.
  oklch() -> more vivid and accurate colors (Tailwind v4.0 moves from sRGB to OKLCH)

utilities


*/


@theme {
  /* ✅ Primary Colors */
  --color-primary: oklch(0.65 0.33 203.64);/* <!-- 34AEB5 - 52, 174 181--> * */
  --color-primary-alt: oklch(0.50 0.27 204.42);  /* <!-- 34AEB5 - 38 132 138 --> * */ 

  /* ✅ Secondary Colors */
  --color-secondary: #2A2A2A; 
  --color-secondary-alt: #111111;

  /* ✅ Accent Colors */
  --color-accent: oklch(0.8 0.2 90); /* <!-- E0AC02 --> * */
  --color-accent-alt: oklch(0.9 0.15 90); /* <!-- FCE389 --> * */

  /* ✅ Background Colors */
  --color-background: #FFFFFF; 
  --color-background-dark: #000000; 

}

@theme {
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-mixed: color-mix(in oklab, var(--color-avocado-400) 50%, var(--color-primary) 50%);
}


/* dynamic changing  */
@theme {
  --color-start: oklch(0.8 0.2 240); /* Blue */
  --color-end: oklch(0.8 0.2 60);  /* Yellow */
  --tw-bg-color: var(--color-start); /* Default background color */
}

@layer utilities {
  .bg-dynamic {
    background-color: var(--tw-bg-color);
    transition: background-color 0s ease-in-out;
  }
}

